@import "tailwindcss";

:root {
  --background: #f1f0eb;
  --foreground: #040304;
  --primary-color: #d5a310;
  --secondary-color: #292113;
  --gray-color: #2c2c2c;
  --white: #f1f0eb;
}

.dark {
  --background: #040304;
  --foreground: #f1f0eb;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  min-height: 100vh;
}
